@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  /*max-width: 600px;*/
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  padding: 0;
  margin: 0;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* ··· */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}





/*grid*/
.grid-block .ag-cell {
  background: #ddd;
  padding: 1px 10px;
  border: 1px solid white;
}

.grid-block span.ag-selection-checkbox {
  float: right;
  margin-right: 10px;
}

.grid-block .ag-row-selected .ag-cell{
  background: #52CC52 !important;
}
.grid-block  .ag-row-selected .ag-cell-value{
  color: white !important;
}

.grid-block  .ag-layout-normal *{
  outline: none !important;
}
.grid-block  span.ag-icon.ag-icon-checkbox-checked, span.ag-icon.ag-icon-checkbox-unchecked{
  border: 0;
  position: relative;
  background: transparent;
}
.grid-block  span.ag-icon.ag-icon-checkbox-checked:after{
  content: '✔';
  position: absolute;
  left: 0;
  top: -3px;
  font-size: 1.5rem;
  color: white;
}
.grid-block  .ag-layout-normal .ag-body-viewport{
  overflow-x: hidden !important;
}
.ag-controls-block-top{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  padding: 0 !important;
}
/*grid*/