@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  /*max-width: 600px;*/
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  padding: 0;
  margin: 0;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* ··· */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


.ag-cell {
  background: #ddd;
  padding: 1px 10px;
  border: 1px solid white;
}

span.ag-selection-checkbox {
  float: right;
  margin-right: 10px;
}

.ag-row-selected .ag-cell{
  background: #52CC52 !important;
}
.ag-row-selected .ag-cell-value{
  color: white !important;
}

.ag-layout-normal *{
  outline: none !important;
}
span.ag-icon.ag-icon-checkbox-checked, span.ag-icon.ag-icon-checkbox-unchecked{
  /*background: red;*/
  border: 0;
  position: relative;
  background: transparent;
}
span.ag-icon.ag-icon-checkbox-checked:after{
  content: '✔';
  position: absolute;
  left: 0;
  top: -3px;
  font-size: 1.5rem;
  color: white;
}
button.btn{
  outline: none !important;
  /*border: 0;*/
  border-radius: 25%;
  border: 2px solid white;
}
button.btn:hover{
  border: 2px solid #595959;
}
button.btn.btn-success{
  background: #52CC52;
}
button.btn.btn-danger{
  background: #E64E4E;
}
button.btn.no-style{
  border: none;
  background: transparent;
  box-shadow: none;
}

.ag-controls-block{
  background: red;
  display: flex;
  position: relative;
}
.ag-controls-modal{
  position: absolute;
  top: 100%;
  left: 0;
  background: orange;
  width: 100%;
  z-index: 9;
}